# 2.5 Exercises

## Exercise 1: Variables

1. Assign the value `42` to a variable named `my_var` and print it.
2. Assign the string `"Hello, World!"` to a variable named `greeting` and print it.
3. Create two variables, `a` and `b`, assign them values `10` and `20`, and save their sum to a variable called `c`. Print their sum.
4. Write a comment for (3) explaining what your "algorithm" does.

In [2]:
# Exercise 1
my_var = 42;
print(my_var)
greeting = "Hello World!";
print(greeting)
a = 10; #assigning the value 10 to the variable a
b = 20; #assining the value 20 to the variabele b
c = a + b ;  #adding variable a and variable b and assigning the value of the sum to variable c
print(c)

42
Hello World!

## Exercise 2: Types

The Python built-in `type()` will return the type of the variable given to it.

1. Create a variable `x` and assign it a float value. Check the type of `x` using the `type()` function.
2. Create a variable `y` and assign it a string value. Print the type of `y` and its length using the `len()` function.
3. Verify that a multiplication of two integers returns another int, while a division returns a float.
4. Why do do you think that Python changes the result of a division into type float?

In [12]:
# Exercise 2
x = 3.12
type(x)
y = "lol"
len(y)
type(y)
a = 10
b = 3
c = a  * b
type(c)
d = a / b
type(d)

float

## Exercise 3: Strings

You previously learned about functions like `.lower()` or `.replace()` which allow you to modify strings. But what about counting? Lets for example take the word *Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch*, which is a town in Wales. Can you find a function that lets you count the number of times the combination of two subsequent L's (e.g. "ll") appear in that word? See if you can guess how the function could be called and used. Use the internet for help if necessary.

1. Count the number of time two subsequent L's occur in the town name.
2. Save the result to a new variable and print its value.
3. The correct answer should be 5. If your result is different, check the string to see where you might have missed something.

In [16]:
town = "Llanfairpwllgwyngyllgogerychwyrndrobwllllantysiliogogogoch"
town = town.lower()
town_count = town.count("ll")
print(town_count)

5

## Exercise 4: Booleans

Some integer values are equivalent to Python Boolean values.
1. Use the equality (==) operator to find the integer which is equivalent to `True`.
2. Use the equality (==) operator to find the integer which is equivalent to `False`.

In [30]:
# Exercise 4
1 == 1
5 == 3

1

## Exercise 5: Lists


1. Create a list named fruits containing `"apple"`, `"banana"`, and `"cherry"`. Add `"orange"` to the list and print the result.
2. Remove `"banana"` from the fruits list and print the updated list.

In [22]:
# Execise 6
fruits = ["apple", "bannana", "cherry", "orange"]
fruits.remove("bannana")
print(fruits)

['apple', 'cherry', 'orange']

## Exercise 6: More lists

You previously learned about the `.append()` function for adding a new item to the end of a list. You can also add two lists together by using the plus (+) operator. Given the lists provided below, can you:

1. Create a new list which combines list1 and list2?
2. Create a new list that has the items [6, 5, 1, 2, 3] by only using indexing operations and functions associated with lists?

*Hint: Lists come with more functions like `.extend()` or `.reverse()`. You can find a full list in the [Python documentation](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).*

In [33]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3)
list4 = [6,1,2]
list4.append(3)
list4.insert(1,5)
list4.reverse()
print(list4)

[1, 2, 3, 4, 5, 6]
[3, 2, 1, 5, 6]

## Exercise 7: Indexing

You previousy learned how to access specific elements of a list by enclosing an index in square brackets (`first_item = my_list[0]`). A useful feature in Python is that you can also start indexing from the back of a list by using negative numbers (`last_item = my_list[-1]`). Experiment with this for a bit and then answer/implement the following questions:

1. What is the negative number index for the last item in the list?
2. What is the negative number index for the first item in the list?
3. Can you write code that would use a negative number to index the first item in the list,
without advance knowledge of its length? Hint: A function introduced in the *Strings* section of the might be useful here.

In [31]:
my_list = ["Hello", 1, 3.14, True, 5, 1234, "Goodbye"]
last_item = my_list[-1] # last item index -1
print(last_item)
first_item = my_list[-len(my_list)] #negative index for first item in the list
print(first_item)

Goodbye
Hello

## Exercise 8: Dictionaries

Below you can see a dictionary containing the price of different fruits.

1. Add another fruit to the dictionary. This fruit should have several different prices associated with it, organized as a list
2. Access the second price in this list in a single line of code and save it to a variable called `second_price`
3. Print the newly added fruit and its the second price like so: "The second price of <your_fruit> is <second_price> â‚¬".

*Hint: You can use the previously introduced f-strings for printing*

In [37]:
fruit_prices = {
    "apple": 0.5,
    "banana": 0.2,
    "pear" : [1.2 , 3, 1.75]
}
c =fruit_prices["pear"][1]
print("The second price of pear is", c )

The second price of pear is 3

## Exercise 9: Conditionals

Can you rewrite the code below by only using **one** *if*, **one** *elif*, and **one** `else` statement to improve readability?

In [39]:
points = 12

if points > 10:
    print("Points are more than 10.")
elif points == 10:
    print("Points are exactly 10.")
else :
    print("Points are less than 10.")

Points are more than 10.

## Exercise 10: Loops

You are provided with a list of integers called `numbers`. Your task is to:

1. Write a for loop which calculate the sum of all items in the list. Print the result.
2. Again count the sum of elements, but exclude the item at index 3.
3. Write a for loop to count how many numbers in the list are even. Print the count.

*Hints:*
- *You might find using a counting variable useful for all three exercises.*
- *You can use the `enumerate()` function and the `!=` operator if you work with indices in a loop.*
- *The modulo `%` operator will give you the remainder of a division. So the expression `number % 2 == 0` will be `True` if number is even (there is no remainder), or else it will be `False` (there is a remainder).*

In [43]:
numbers = [10, 15, 8, 23, 42, 4, 16, 9, 7, 30]
total_sum = 0
for num in numbers:
    total_sum =total_sum + num
print("Sum of all items:", total_sum)


total_sum2 = 0
for num in numbers:
  if index !=3:
  total_sum2= total_sum + num
  print(total_sum2)

IndentationError: expected an indented block after 'if' statement on line 10 (<ipython-input-43-1c1b337a1aae>, line 11)

## Voluntary Exercise 1: Lists and dictionaries combined

Create a *list of dictionaries* where each dictionary represents a student. The keys should be `"name"`, `"age"`, and `"grades"` (a list of three integers). Then write code that prints the name of the student with the highest average grade.

In [ ]:
# Voluntary exercise 1

## Voluntary Exercise 2: Swapping values

Can you swap the values of `a` and `b` without creating a temporary (thrird) variable?

In [ ]:
a = 5
b = 10

## Voluntary Exercise 3: More loops

Please use a loop to iterate through the list of numbers. For each number, determine if it is prime and print whether it is prime or not.

In [ ]:
numbers = [2, 3, 4, 5, 10, 11, 15, 17, 18, 23, 29, 30]